<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Velkommen til Expo 2023!</h2>
              <p class="card-text" style="font-size:130%">
                Denne applikasjonen er en prototype av systemet vi utviklet i løpet av bacheloroppgaven vår.
               </p>
              <p class="card-text" style="font-size:130%">
                Vi i bachelorgruppe 5 har hatt muligheten å samarbeide med GP Digital og Grimsrud AS i løpet av utviklingsprosessen. Denne applikasjonen vil gi dere et lite innblikk i arbeidet vi har gjort.
                </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="card-box col-md-4">
        <a routerLink="/qr-generator" class="card mb-4" style="text-decoration: none">
          <div class="card-body">
            <h5 class="card-title">QR-Kode Generator</h5>
            <p class="card-text">Dette er en mockup av hvordan QR-generator vår så ut.</p>
          </div>
        </a>
      </div>
      <div class="card-box col-md-4">
        <a routerLink="/qr-code" class="card mb-4" style="text-decoration: none">
          <div class="card-body">
            <h5 class="card-title">Skann QR-Kode</h5>
            <p class="card-text">Dette er en mockup av hvordan QR-koden vil se ut.</p>
          </div>
        </a>
      </div>
      <div class="card-box col-md-4">
        <a routerLink="/mobileapp" class="card mb-4" style="text-decoration: none">
          <div class="card-body">
            <h5 class="card-title">Mobil webapplikasjon</h5>
            <p class="card-text">Dette er hvordan mobil applikasjonen vår for mobil så ut.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top fixed-bottom">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">Bachelorgruppe 5</span>
    </div>
</footer>
