<header class="bg-light mb-5">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">

        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" class="nav-link px-2 link-dark">QR-Kode Generator</a></li>
          <li><a routerLink="/qr-code" class="nav-link px-2 link-dark">Skann QR-Kode</a></li>
          <li><a routerLink="/mobileapp" class="nav-link px-2 link-dark">Mobil webapplikasjon</a></li>
        </ul>
        
      </div>
    </div>
</header>
